<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments Layout</title>
</head>

<body>
    <th:block th:replace="~{/sample/fragments/fragment3:: target(~{this:: #ulFirst},
                                                          ~{this:: #ulSecond})}">
        <ul id="ulFirst">
            <li>AAA</li>
            <li>BBB</li>
            <li>CCC</li>x
        </ul>

        <ul id="ulSecond">
            <li>AAA</li>
            <li>BBB</li>
            <li>CCC</li>
        </ul>
    </th:block>
</body>

</html>