<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook List Page
            <span>
                <a th:href="@{/guestbook/registration}">
                    <button type="button" class="btn btn-outline-primary">Registration</button>
                </a>
            </span>
        </h1>
        <form action="/guestbook/list" method="get" id="searchForm">
            <div class="input-group">
                <input type="hidden" name="pageNumber" value="1">
                <div class="input-group-prepend">
                    <select class="custom-select" name="searchType">
                        <option th:selected="${pageRequestDTO.searchType == null}">-------</option>
                        <option value="t" th:selected="${pageRequestDTO.searchType =='t'}" >제목</option>
                        <option value="c" th:selected="${pageRequestDTO.searchType =='c'}"  >내용</option>
                        <option value="w"  th:selected="${pageRequestDTO.searchType =='w'}" >작성자</option>
                        <option value="tc"  th:selected="${pageRequestDTO.searchType =='tc'}" >제목 + 내용</option>
                        <option value="tcw"  th:selected="${pageRequestDTO.searchType =='tcw'}" >제목 + 내용 + 작성자</option>
                    </select>
                </div>
                <input class="form-control" name="searchKeyword" th:value="${pageRequestDTO.searchKeyword}">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
                    <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">CreatedDate</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="guestbook : ${pageResult.dtoList}">
                    <th scope="row">
                        <a th:href="@{/guestbook/read(id=${guestbook.id}, pageNumber= ${pageResult.pageNumber},
                        searchType=${pageRequestDTO.searchType},
                        searchKeyword=${pageRequestDTO.searchKeyword})}">
                            [[${guestbook.id}]]
                        </a>
                    </th>
                    <td>[[${guestbook.title}]]</td>
                    <td>[[${guestbook.writer}]]</td>
                    <td>[[${#temporals.format(guestbook.createdDate, 'yyyy/MM/dd')}]]</td>
                </tr>
            </tbody>

        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${pageResult.prevPage}">
                <a class="page-link" th:href="@{/guestbook/list(pageNumber= ${pageResult.startPage - 1},
                searchType=${pageRequestDTO.searchType},
                searchKeyword=${pageRequestDTO.searchKeyword})}" tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item ' + ${pageResult.pageNumber == pageNumber ? 'active':''} "
                th:each="pageNumber: ${pageResult.pageList}">
                <a class="page-link" th:href="@{/guestbook/list(pageNumber = ${pageNumber},
                searchType=${pageRequestDTO.searchType},
                searchKeyword=${pageRequestDTO.searchKeyword})}">[[${pageNumber}]]</a>
            </li>

            <li class="page-item" th:if="${pageResult.nextPage}">
                <a class="page-link" th:href="@{/guestbook/list(pageNumber = ${pageResult.endPage + 1},
                searchType=${pageRequestDTO.searchType},
                searchKeyword=${pageRequestDTO.searchKeyword})}">Next</a>
            </li>
        </ul>

        <script th:inline="javascript">

            let registrationResult = [[${registrationResult}]]
            if(registrationResult) {
                alert("등록되었습니다. ID: " + registrationResult);
            }

            let removeResult = [[${registrationResult}]]
            if(removeResult) {
                alert("삭제되었습니다. ID: " + removeResult);
            }

            let searchForm = $("#searchForm");
            $(".btn-search").click(function() {
                searchForm.submit();
            });
            $(".btn-clear").click(function() {
                searchForm.empty().submit();
            });
        </script>
    </th:block>
</th:block>
</html>